<%- include('layouts/header.ejs') %>
<%- include('layouts/admin-nav.ejs') %>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Admin Dashboard</h3>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        Quia est debitis et quo maxime deserunt quia vel debitis nostrum odio molestias id vero est cumque sunt nobis delectus esse earum voluptatem distinctio aspernatur rerum quo est accusamus provident possimus eos et quia unde saepe ea enim repudiandae molestias voluptatem unde sunt sed dolore dolores fugiat odit sit ea expedita autem repudiandae iure ea omnis error soluta numquam dolorum earum et in error iusto nulla enim cumque aliquam aut sint esse illo quo rem consequatur ut aut sit eaque saepe veritatis autem voluptatem et dignissimos dolore est ut non quia et rerum quia aliquam numquam fuga similique est rem omnis est quisquam atque et facere ea impedit aut repudiandae asperiores rem eveniet sit et voluptate aspernatur quia aperiam placeat qui veritatis beatae tempore tempora voluptatem consequatur similique voluptatum odio voluptas nulla voluptatem aliquam quas dolor atque eos laudantium et facere enim et libero minima quia sint qui necessitatibus ad aut qui ut dicta fugiat vero laborum voluptatum est voluptate esse ex quia in omnis est est voluptatem a quia nobis et magnam sequi porro ut delectus omnis odio tempora nesciunt culpa qui omnis enim facilis sed rerum inventore cumque modi non vel non adipisci nostrum id beatae non nesciunt id voluptatem est corporis facere quis iusto reiciendis autem non et consequatur et cupiditate non perferendis deleniti aspernatur voluptatum aliquam maiores voluptatem distinctio eum consequatur vel consequatur sit eaque asperiores enim saepe nihil amet sit repellendus ad harum cupiditate natus ut modi sapiente consequatur et sunt ab ipsum aut unde sit repudiandae tempora in eum quia voluptatem ut ipsum a quia minima eaque eos consequatur enim pariatur officia a explicabo aut accusamus qui provident ab velit in eos suscipit.                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layouts/footer.ejs') %>